.landing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  flex-direction: column;
}

.login-link {
  padding: 5px 30px;
  font-size: 16px;
  margin-top: 20px;
  background: white;
  text-decoration: none;
}
